/* Default Start */
html, body
{
    /* Adjusts font-size to be managable via 'em' values. */
    font-size: 62.5%;

    /* Adjusts margins and padding. (a mini 'css reset') */
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}

h1, h2, h3, p, ul, li
{
    /*font-size: 1.4em;*/
    font-family: 'Lato', helvetica, sans-serif;
    margin: 0em;
    padding: 0em;
    vertical-align: baseline;
}


h1
{
    font-size: 5.6em;
}

h2
{
    font-size: 4.2em;
}

h3
{
    font-size: 2.4em;
}

body
{
    background-color: #EAEAEA;
}


/* Table Stuff */
table
{
    /*font-family: 'Lato', helvetica, sans-serif;*/
    font-family: 'Source Sans Pro', helvetica, sans-serif;
    font-size: 2em;
    border-collapse: collapse;
}

th
{
    background-color: #F9F9F9;
}

tr:nth-child(even)
{
    background-color: #EFEFEF
}

tr:nth-child(odd)
{
    background-color: #E4E4E4
}

tr:hover
{
    background-color: #F6F6F6
}


#layoutLeft
{
    width: 1260px;
    float: left;
}

#layoutRight
{
    margin-left: 1260px;

}

#header
{
    /* T R B L */
    margin: 1.6em 2em ;
    text-align: center;
}

.d3_module
{
    margin: 0.2em 0.8em 0.36em 0.42em;
    /*padding: 2em 2em 3.6em 4.2em;*/
    /*background-color: #EEE;*/
    
    font-family: 'Source Sans Pro', helvetica, sans-serif;
}

.d3_module svg
{
    background-color: #F6F6F6;
}

.d3_module_2
{
    margin: 1em 2em 1.6em 4.2em;
    /*padding: 2em 2em 3.6em 4.2em;*/
    /*background-color: #EEE;*/
}



/* Filters */

#filterButtons
{
    background-color: #F6F6F6;

    /* T R B L */
    margin: 3.2em 4em 1.2em 4.2em;
    padding: 2em 1em 1.6em 2.4em;
}

#filterTitle
{
    font-size: 3.6em;
    /*font-family: */
}

#filterButtons button
{
    /* Button Text Styling */
    color: #222;
    font-size: 2.4em;
    /*font-family: ;*/

    /* Button Color Styling */
    background-color: #EEE;
    padding: 0.2em 0.6em 0.22em 0.6em;
    margin: 0.06em 0.1em 0.14em 0.2em;
    border: solid #BBB 0.1em;
    border-radius: 0.32em;
}

/*#filterButtons button:enabled:after
{
    content: '  x';
}*/

#filterButtons button:hover:enabled
{
    color: #1A1A1A; /* Text color */
    background-color: #E4E4E4;
    border: solid #AEAEAE 0.1em;
}

#allButton
{
    opacity: 0.9;
    color: #666;
    /*cursor: not-allowed;*/
}

/** BPAA Rating **/
#byMpaaRating
{
    font-size: 2.0em;
}


/** Table **/
#topTableWrapper table
{
    font-size: 2.36em;
    width: 96%;
}

#topTableWrapper th, td
{
    height: 1.2em;
    padding: 0.2em;
    vertical-align: center;
}

#topTableWrapper p
{
    margin-top: 1em;
    font-size: 2.4em;
}

.td_left
{
    text-align: left;
}

.td_center
{
    text-align: center;
}


/** Style Classes **/

.noDisplay
{
    display:none;
}

.clickThrough
{
    pointer-events: none;
}
