
/* Default Start */
html, body
{
    /* Adjusts font-size to be managable via 'em' values. */
    font-size: 62.5%;

    /* Adjusts margins and padding. (a mini 'css reset') */
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}

h1, h2, h3, p, ul, li
{
    /*font-size: 1.4em;*/
    margin: 0em;
    padding: 0em;
    vertical-align: baseline;
}


h1
{
    font-size: 5.6em;
}

h2
{
    font-size: 4.2em;
}

h3
{
    font-size: 2.4em;
}

body
{
    background-color: #EAEAEA;
}

#header
{
    /* T R B L */
    margin: 1em 2em ;
}

.d3_module
{
    margin: 2em 2em 3.6em 4.2em;
    /*padding: 2em 2em 3.6em 4.2em;*/
    /*background-color: #EEE;*/
}

.d3_module svg
{
    background-color: #F6F6F6;
}



/* Filters */

#filterButtons
{
    background-color: #F6F6F6;

    /* T R B L */
    margin: 2em 4em 2.4em 4.2em;
    padding: 2em 1em 1.6em 2.4em;
}

#filterTitle
{
    font-size: 3.6em;
    /*font-family: */
}

#filterButtons button
{
    /* Button Text Styling */
    color: #222;
    font-size: 2.4em;
    /*font-family: ;*/

    /* Button Color Styling */
    background-color: #EEE;
    padding: 0.2em 0.6em 0.22em 0.6em;
    margin: 0.06em 0.1em 0.14em 0.2em;
    border: solid #BBB 0.1em;
    border-radius: 0.32em;
}

/*#filterButtons button:after
{
    content: '  x';
}*/

#filterButtons button:hover
{
    color: #222; /* Text color */
    background-color: #DADADA;
}



/** Style Classes **/

.noDisplay
{
    display:none;
}

.clickThrough
{
    pointer-events: none;
}
