
#eclipse
data/preprocess/.metadata
data/preprocess/.recommenders
data/preprocess/RemoteSystemsTempFiles


#data

*.zip
*.gz
*.list


#docs

*.doc
*.docx
*.tmp


#scripts

*.sh
